.movie-card {
  border: 1px solid #000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  height: 50vh;
  width: 35vh;
}

.movie-card-figure {
  height: 50vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.movie-card-figure-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-card-info{
  display: none;
  position: absolute;
  bottom: 0;
}
.movie-card:hover .movie-card-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 12px;
  opacity: 0.9; 
}