
<section class="movie-card">
  <figure class="movie-card-figure">
    <img class="movie-card-figure-img" src="https://image.tmdb.org/t/p/w500/uguzkptzBLzwse1LENsAXTU9LEV.jpg" alt="Poster filme">
  </figure>
  <div class="movie-card-info">
    <h5 class="movie-card-title">Sharknado 2: A Segunda Onda - </h5>
    <h5 class="movie-card-date">2014</h5>
  </div>
</section>

<!-- <section class="movie-card" *ngIf="movie">
  <figure class="movie-card-figure">
    <img class="movie-card-figure-img" src="{{movie.poster_path}}" alt="Poster filme" >
  </figure>
  <div class="movie-card-info">
    <h5 class="movie-card-title">{{movie.original_title}} - </h5>
    <h5 class="movie-card-date">{{movie.release_date}}</h5>
  </div>
</section> -->