<section class="home-page">
<header>
  <h1>Shark Movie Challenge</h1>
</header>

<div *ngIf="hasError" class="error">Erro de comunicação com Servidor, tente novamente mais tarde!</div>

<div *ngIf="!hasError && (isLoading$ | async)" class="loader">
  Carregando...
</div>

<div *ngIf="!hasError && movieLoaded">

<app-movie-list [movies]="movies"></app-movie-list>
<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (onSelectPage)="onSelectPage($event)"></app-pagination>

</div>

</section>